/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 h1 {
   text-align: center;
   font-family: 'Jua', sans-serif;
 }

body {
  background-color: #ffe6e6;
}

 .cards {
   font-family: 'Shadows Into Light', cursive;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 li {
   padding: 0px 0px 10px 0px;
 }

.card {
  text-align: center;
  background-color: #ff6666;
  padding: 40px;
  width: 150px;;
  height: 175px;
  border-radius: 45%;
}

ul li {
  list-style-type: none;
}

#sad-cat {
  height: 70px;
  width: 70px;
  border-radius: 45%;
}
